<%= render 'maps' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @sala.nombre.capitalize %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @sala.apellido.capitalize %>
</p>

<p>
  <strong>Cumple:</strong>
  <%= @sala.cumple.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sala.email %>
</p>

<p>
  <strong>Fecha de festejo:</strong>
  <%= @sala.fecha_festejo.strftime('%H:%Mhrs - %d/%m/%Y') %>
</p>

<p>
  <strong>Lugar de festejo:</strong>
  <%= @sala.lugar_festejo %>
</p>

<div style='width: 500px;'>
  <div id="map" style='width: 500px; height: 400px;'></div>
</div>

<script type="text/javascript">	
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers(<%=raw @hash.to_json %>);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
      handler.getMap().setZoom(16);
	});
</script>

<%= link_to 'Editar', edit_sala_path(@sala) %> |
<%= link_to 'Volver al listado', salas_path %>
