<%= render 'maps' %>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= Sala.human_attribute_name(:nombre) %>: </strong>
  <%= @sala.nombre.capitalize %>
</p>

<p>
  <strong><%= Sala.human_attribute_name(:apellido) %>: </strong>
  <%= @sala.apellido.capitalize %>
</p>

<p>
  <strong><%= Sala.human_attribute_name(:cumple) %>: </strong>
  <%= @sala.cumple.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong><%= Sala.human_attribute_name(:email) %>: </strong>
  <%= @sala.email %>
</p>

<p>
  <strong><%= Sala.human_attribute_name(:fecha_festejo) %>: </strong>
  <%= @sala.fecha_festejo.strftime('%H:%Mhrs - %d/%m/%Y') %>
</p>

<p>
  <strong><%= Sala.human_attribute_name(:lugar_festejo) %>:</strong>
  <%= @sala.lugar_festejo %>
</p>

<div style='width: 500px;'>
  <div id="map" style='width: 500px; height: 400px;'></div>
</div>

<script type="text/javascript">	
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers(<%=raw @hash.to_json %>);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
      handler.getMap().setZoom(16);
	});
</script>

<br>
<%= link_to (t ".edit"), edit_sala_path(@sala) %> |
<%= link_to (t ".back"), salas_path %>
