<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Sala Verde", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to (t ".top"), root_path %></li>
        </ul>
      	<ul class="nav navbar-nav navbar-right">
      	  <li class="navbar-text"><%= t ".language" %></li>
      	  <li class="active"><%= link_to_unless_current "English", locale: "en" %></li>
      	  <li class="active"><%= link_to_unless_current "Español", locale: "es" %></li>
      	</ul>
      </nav>
    </div>
  </div>
</header>
